#hero {
  margin: 0 0 60px 0;
  img {
    width: 100%;
    height: 50vh;
    object-fit: cover;
  }
  .hero {
    color: #010049;
    &--categories {
      display: flex;
      align-items: center;
      gap: 59px;
      &__heroBlock {
        width: 315px;
        height: 232px;
        border-radius: 17;
        img {
          object-fit: cover;
          width: 100%;
          height: 100%;
        }
      }
    }
    .heroBtn {
      padding: 12px 40px;
      background: #010049;
      border-radius: 10px;
      display: flex;
      margin: 20px auto;
      color: white;
      text-transform: uppercase;
      font-size: 18px;
      transition: 0.8s;
      &:hover {
        transform: scale(1.1);
        background: none;
        border: 2px solid #010049;
        color: #010049;
      }
    }

    &--title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 30px 0;
      h1 {
        font-size: 24px;
      }
      select {
        padding: 12px 34px;
        outline: none;
        font-size: 16px;
        border: 1px solid #010049;
      }
    }
    &--blocksUp {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: 59px;
      &__book {
        width: 238px;
        height: 415px;
        padding: 10px;
        border: 2px solid black;
        h3 {
          color: #010049;
          font-size: 24px;
        }
        img {
          height: 320px;
          object-fit: cover;
        }
        &--price {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin: 10px 0;
        }
        h5 {
          font-size: 14px;
        }
      }
    }
    &--blocksBottom {
      display: flex;
      flex-wrap: wrap;
      gap: 59px;
      margin-left: -12px;
    }
  }
}
